.selected-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dashboard-title {
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.selected-items li {
  width: 100px;
  height: 100px;
  background-color: white;
}
